{% extends "layout.html" %}
{% block content %}
<h1>About US</h1>
    <p>
        In this case, we’re talking about car parking. You can park your car at a parking space. These parking spaces can be on several locations: In a parking lot, a parking garage, on the side of the street, and so on. In every city and on every street there are rules for parking. For example, often you are allowed to park your car on the side of the street, but sometimes you have to pay for parking, are only allowed to park for a short period of time or are not allowed to park at all. These rules are called parking restrictions.
    </p>
    

{% endblock content %}





